@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    list-style: none;
    text-decoration: none;
    color: black;
}

:root{
    --primary-color: #FEA301;
    --primary-color-2: #01ACFD;
    --content-width: 80%;
}


body{
    width: 100%;
    height: 100vh;
    background: #fff;
}


/* ______________header___________ */

.header{
    width: 100%;
    height: 100px;
    background: #f5f5f5;
}

.head-content{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-icon{
    width: 3%;
    display: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-pic{
    width: 40%;
}

.logo-text{
    font-size: 2em;
    margin-left: 15px;
}

.nav-items{
    display: flex;
    gap: 20px;
}

.item{
    font-weight: 600;
}

.item-1{
    color: var(--primary-color);
}

.item-2{
    color: var(--primary-color-2);
}

.item-3{
    color: #05D4DF;
}

.item-4{
    color: #5D58EF;
}

.btn{
    background: var(--primary-color);
    padding: 8px 40px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

/* ______________section-1-bannar______________ */


.main-content{
    width: 100%;
    height: 100vh;
}

.sec-1-banner{
    width: 100%;
    height: fit-content;
}

.banner-content{
    width: var(--content-width);
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    flex-basis: 50%;
}

.banner-title{
    font-size: 40px;
    line-height: 1.2;
}

.spn-1{
    color: var(--primary-color);
}

.spn-2{
    color: var(--primary-color-2);
}

.para{
    font-size: 15px;
}

.bannar-btn{
    background: black;
}

.bannar-pic{
    width: 100%;
}

/* ______________Section-2-Curriculum______________ */

.sec-2-curriculum{
    width: 100%;
    height: fit-content;
    background-image: url(./assets/bg.png);
    background-position: cover;
    background-repeat: no-repeat;
}

.Curriculum-content{
    width: var(--content-width);
    height: fit-content;
    margin: 0 auto;
    padding: 50px 0;
}

.curriculum-title{
    text-align: center;
}

.culum-boxes{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.culum-box{
    width: fit-content;
    height: 500px;
    background: #f2f2f2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    text-align: center;
}

.box-1{
    border: 1px solid #DEF5FF;
    background: linear-gradient(to top, #ffffff, #ffffff, #ffffff, rgb(222, 245, 255));
}

.box-2{
    border: 1px solid #FFF4DC;
    background: linear-gradient(to top, #ffffff, #ffffff, #ffffff, #FFF4DC);
}

.box-3{
    border: 1px solid #F2E8FF;
    background: linear-gradient(to top, #ffffff, #ffffff, #ffffff, #F2E8FF);
}

.arrows{
    width: 100%;
    height: fit-content;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.left, .right{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-icon{
    width: 40px;
}







@media screen and (max-width: 576px) {
    body{
        background: #f2f2f2;
    }
    

    /* _________Header-Responsive_______ */

    .logo-pic{
        width: 70%;
    }
    
    .logo-text{
        display: none;
    }

    .nav-bar{
        display: none;
    }

    .head-btn{
        display: none;
    }

    .list-icon{
        width: 5%;
        display: block;
    }

    .header{
        border-bottom: 2px solid var(--primary-color);
    }


    /* ___________Banner-Responsive__________ */


    .banner-content{
       flex-direction: column-reverse;
       gap: 30px;
       padding: 20px 0 30px 0;
    }

    .banner-left-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        flex-basis: 50%;
        text-align: center;
    }



}